@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-nmormal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* .none{
    display: none;
  } */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.bg-width{
    /* max-width: 1200px; */
    max-width: 1440px;
    margin: 0px auto;
}
.link-prymary{
    font-weight: 700;
    font-size: 1.3rem;
}
.display-flex{
    display: flex;
}
.btn{
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
    cursor: pointer;  
}
.btn-orange{
   background-color: orange; 
   color: white;
}
.btn-black{
    background-color: black;
    color: white;
}

/* navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    /* margin: 0px 20px; */
}
.logo{
    align-items: center;
    gap: 11px;
}
.logo-name{
    font-weight: 700;
    font-size: 2rem;
}
.logo-icon{
    width: 60px;
    height: 60px;
}
.nav-list{
    gap: 32px;
}
.nav-link1{
    color: rgb(254, 163, 1);
}
.nav-link2{
    color: rgb(1, 172, 253);
}
.nav-link3{
    color: rgb(5, 212, 223);
}
.nav-link4{
    color: rgb(93, 88, 239);
}
.menu-icon{
    display: none;
}
.hr-row{
    border: 1px solid orange;
    display: none;
}

/* banner */
.banner{
    gap: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-img{
    /* padding: 0px 80px; */
}
.banner-imgs{
    width: 100%;
}
.banner-title-style1{
    color: rgb(254, 163, 1);
}
.banner-title-style2{
    color: rgb(1, 172, 253);
}
.banner-description{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgb(17, 17, 17);
    margin:24px 0px ;
}

/* stander */
 
.stander-container{
    gap: 28px;
    margin-top: 80px ;
    
}
.stander{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
}
.stander-title{
    font-weight: 700;
    font-size: 2.8rem;
    padding-top: 48px ;
    text-align: center;
}
.stander-icon{
    padding: 60px 74px;
}
.standerbox{
    padding-bottom: 30px ;
  text-align: center;
  border-radius: 18px;
  transition:  box-shadow 0.3s;
}
.standerbox:hover{
 box-shadow: 0px 0px 20px gray;
}
.standerbox1{
 background-image: linear-gradient(rgba(222, 245, 255, 1.00)10%, white 90%);

}
.standerbox2{
 background-image: linear-gradient(rgba(255, 244, 220, 1.00)10%, white 90%);
}
.standerbox3{
 background-image: linear-gradient(rgba(238, 225, 255, 1.00)10%, white 90%);
}
.stander-box-title{
    font-weight: 700;
    font-size: 1.7rem;
    /* margin: 2rem; */
}
.stander-box-desc{
    padding: 33px 40px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    line-height: 28px;
}
.stander-btn{
    margin-bottom: 50px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
}
.stander-btn1{
    color: rgb(100, 200, 255);
}
.stander-btn2{
   color: orange;
}
.stander-btn3{
   color: #8700FF;
}
.icon-div{
    justify-content: center;
    align-items: center;
   gap: 15px;
}
.icon{
    width: 60px;
    height: 60px;
    margin: 60px 0px;
    background-color: orange;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}  

/* -- */

.bg-color{
    background-image: 
    url('./assets/bg.png'), linear-gradient(rgb(255, 255, 255),rgba(254, 163, 1, 0.30))  ;
    background-size: cover;
    background-position: center;
}

.our-container{
    display: grid;
    grid-template-columns: 560px repeat(2, 1fr);
    gap: 20px;
    margin-top: 80px ;
}
.div-1{
   grid-row: span 2;
}
.our-card{
    border-radius: 16px;
    background-color: white;
   
}
.btn-position{
    position: relative;
}
.our-btn-box{
   position: absolute;
   background-color: skyblue;
   color: white;
   bottom: -5%;
   left: 8%;
   /* margin-bottom: 30px; */
}
.our-btns-box{
   position: absolute;
   background-color: skyblue;
   color: white;
   bottom: -5%;
   left: 8%;
}
.our-card-img1{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.our-card-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.our-card-desc{
    padding: 58px 34px 0px 38px;
}
.our-card-title{
   font-weight: 700; 
   font-size: 1.7rem;
   line-height: 38px;
   margin-bottom: 45px;
}
.our-cards-title{
    margin: 25px auto;
    font-weight: 800;
    font-size: 1rem;
    max-width: 213px;
}
.our-card-description{
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
}

#div-6{
    display: none;
}
.btn-conta{
    text-align: center;
    padding: 80px 0px 60px 0px;
} 

/* footer */
.footer {
    background-color: rgb(1, 172, 253);
    color: white;
    font-weight: bold;
}
a{
    color: white;  
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 170px;
}
.footer-div{
    padding: 150px 0px;
}
.footer-description{
    font-weight: 400;
    font-size: 1.3rem;
    white-space: 25px;
    margin-top: 35px;
}
.footer-title{
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.footer-list{
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.footer-logo-name{
    font-weight: 700;
    font-size: 2rem;
}

/* responsiv mobail */
@media screen and (max-width: 576px) {
    .logo-name, .nav-list, .btn-nav, #div-one{
        display: none;
    }

    .menu-icon, .hr-row{
        display: block;
    }
     .header{
        /* box-sizing: border-box; */
        /* margin: 0px 20px; */
        padding: 0px 50px;
     }
     .banner{
        flex-direction: column-reverse;
        text-align: center;
        margin: 0px 40px;
    }
    .banner-img{
         padding: 0px 20px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description {
        margin: 20px 0px;
      }
      
    .stander-container{
        flex-direction: column;
        margin: 30px 40px;
    }
    .stander-title{
        font-size: 1.8rem;
        padding-bottom: 40px;
    }
    .icon-div{
        display: none;
    }
    .our-container{
        margin: 0px 20px;
        /* grid-template-columns: 1fr; */
        grid-template-columns: repeat(2, 1fr);
    }
    #div-6{
        display: block;
    }
    .our-btns-box{
        position: absolute;
        background-color: skyblue;
        bottom: -5%;
        left: 8%;
     }
     .our-cards-title{
        font-weight: 700;
        font-size: 0.7rem;
        margin: 10px ;
     }
     .btn-parent{
    }
    .btn-chaid{
        font-weight: 300;
     
        border-radius: 40px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;  
    }
    /* footer */
    .grid{
        grid-template-columns: 1fr;
    
       gap: 50px;
    } 
    .footer-div{
        padding: 80px ;
    }
    .footer-list{
        gap: 0px;
       }
}

/* tab */

@media screen and (min-width: 576px) and (max-width:992px) {
    /* .logo-name, .nav-list, .btn-nav, #div-one{
        display: none;
    }

    .menu-icon, .hr-row{
        display: block;
    }

     .banner{
        flex-direction: column-reverse;
        text-align: center;
        margin: 0px 40px;
    }
    .banner-img{
         padding: 0px 80px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description {
        margin: 20px 0px;
      }
      
    .stander-container{
        flex-direction: column;
        margin: 0px 40px;
    }
    .stander-title{
        font-size: 1.8rem;
        padding-bottom: 40px;
    }
    .icon-div{
        display: none;
    }
    .our-container{
        margin: 0px 20px;*/
        /* grid-template-columns: 1fr; */
        /* grid-template-columns: repeat(2, 1fr);
    } */ 
    /* #div-6{
        display: block;
    }
    .our-btn-box{
        position: absolute;
        background-color: skyblue;
        color: white;
        top: 90%;
        left: 8%;
     }
    .our-btns-box{
        position: absolute;
        background-color: skyblue;
        top: 60%;
        left: 8%;
     }
     .our-cards-title{
        font-weight: 700;
        font-size: 0.7rem;
        margin: 10px ;
     }
     .btn-parent{
    }
    .btn-chaid{
        font-weight: 300;
     
        border-radius: 40px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;  
    } */
    /* footer */
    /* .grid{
        grid-template-columns: 1fr;
    
       gap: 50px;
    } 
    .footer-div{
        padding: 80px ;
    }
    .footer-list{
        gap: 0px;
       } */
}