@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-nmormal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    /* max-width: 1200px; */
    max-width: 1440px;
    margin: 0px auto;
}
.link-prymary{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
}
.display-flex{
    display: flex;
}
.btn-prymary{
   background-color: orange; 
   border-radius: 12px;
   padding: 10px 60px;
   color: white;
   font-weight: 600;
   font-size: 1.3rem;
   border: none;
}
/* main section{
    margin-bottom: 60px;
} */
/* navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    align-items: center;
    gap: 11px;
}
.logo-name{
    font-weight: 700;
    font-size: 2rem;
}
.logo-icon{
    width: 60px;
    height: 60px;
}
.nav-list{
    gap: 32px;
}
.nav-link1{
    color: rgb(254, 163, 1);
}
.nav-link2{
    color: rgb(1, 172, 253);
}
.nav-link3{
    color: rgb(5, 212, 223);
}
.nav-link4{
    color: rgb(93, 88, 239);
}
.menu-icon{
    display: none;
}
.hr{
    border: 1px solid orange;
    display: none;
}

/* banner */
.banner{
    gap: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
}
.banner-title-style1{
    color: rgb(254, 163, 1);
}
.banner-title-style2{
    color: rgb(1, 172, 253);
}
.banner-description{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgb(17, 17, 17);
    margin:24px 0px ;
}
.btn-contant{
    background-color: black;
}

/* stander */
.stander-container{
    gap: 28px;
    margin-top: 80px ;
    
}
.stander{
    /* background-color: rgb(134, 134, 127); */
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* padding: 50px 0px; */
}
.stander-title{
    font-weight: 700;
    font-size: 2.8rem;
    padding-top: 48px ;
    text-align: center;
}

.stander-icon{
    padding: 96px 74px;
}
.standerbox{
  text-align: center;
  border-radius: 18px;
  transition:  box-shadow 0.3s;
}
.standerbox:hover{
 box-shadow: 0px 0px 20px gray;
}
.standerbox1{
 background-image: linear-gradient(rgba(222, 245, 255, 1.00)10%, white 90%);

}
.standerbox2{
 background-image: linear-gradient(rgba(255, 244, 220, 1.00)10%, white 90%);
}
.standerbox3{
 background-image: linear-gradient(rgba(238, 225, 255, 1.00)10%, white 90%);
}
.stander-box-title{
    font-weight: 700;
    font-size: 1.7rem;
    /* margin: 2rem; */
}
.stander-box-desc{
    padding: 33px 40px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    line-height: 28px;
}
.stander-btn{
    margin-bottom: 50px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
.stander-btn1{
    color: rgb(100, 200, 255);
}
.stander-btn2{
   color: orange;
}
.stander-btn3{
   color: #8700FF;
}
.icon-div{
    justify-content: center;
    align-items: center;
   gap: 15px;
}
.icon{
    width: 60px;
    height: 60px;
    margin: 60px 0px;
    background-color: orange;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* responsiv mobail */
@media screen and (max-width:576px) {
    .logo-name, .nav-list, .btn-nav{
        display: none;
    }

    .menu-icon, .hr{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
    }
    .stander-container{
        flex-direction: column;
        margin: 0px 30px;
    }
    .stander-title{
        font-size: 1.8rem;
        padding-bottom: 40px;
    }
    .icon-div{
        display: none;
    }
}